<section id="kl-fixtures" class="kl-fixtures">
    <header>
        <div class="container">
            <h1>Aktueller Spielplan</h1>
        </div>
    </header>

    <div class="container">
        {% for league in leagues %}
            <div class="kl-fixtures-league">
                <header>
                    <h3>
                        {{ league.league.name }}
                    </h3>
                    <p class="gameday">Spieltag {{ league.game_day.number }}</p>
                    <p class="interval">{{ league.game_day.fixture|date('d.m.Y') }}
                        bis {{ league.game_day.end|date('d.m.Y') }}</p>
                </header>

                {% set schedule = league.schedules %}
                {% include '_partials/table_fixtures.twig' %}
            </div>
        {% endfor %}

    </div>
</section>