<section id="kl-ranking" class="kl-ranking">
    <header>
        <div class="container">
            <h1>Tabelle</h1>
        </div>
    </header>

    <div class="container">

        {% for ranking in rankings %}
            <div class="kl-ranking-league">
                <a name="{{ ranking.league.code }}"></a>

                {% if ranking.league.link %}
                    <h2>
                        <a href="{{ ranking.league.link }}">{{ ranking.league.name }}</a>
                    </h2>
                {% else %}
                    <h2>{{ ranking.league.name }}</h2>
                {% endif %}

                {% include '_partials/table_ranking.twig' %}
            </div>
        {% endfor %}

    </div>
</section>