<div class="wrap">
    <div id="ligatool-backend-logo"
         style="position: relative; width: 100%; height: 50vw; display: block; background-image: url({{ '/kkl_icon.svg'|imgSrc }}); background-repeat: no-repeat; background-position: center center; background-size: auto 70%;">
    </div>
</div>
