<div id="theme-options-wrap">
	<div class="icon32" id="icon-tools">
		<br />
	</div>
	<h2>KKL Ligatool Settings</h2>
	<p>Settings to configure the integration of the KKL Database into your Wordpress installation.</p>
	<form method="post" action="options.php">

		{{ fields | raw}}
		{{ sections | raw }}

		<p class="submit">
			<input name="Submit" type="submit" class="button-primary" value="{{ save }}" />
		</p>
	</form>
</div>
